:root {
  /* fonts */
  --font-bebas-neue: "Bebas Neue";
  --font-palanquin-dark: "Palanquin Dark";
  --font-oxygen-mono: "Oxygen Mono";
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 13px;
  --font-size-lg: 18px;

  /* Colors */
  --color-gray-100: #1a1313;
  --color-white: #fff;

  /* border radiuses */
  --br-md: 48.5px;
}
